body{
    background: rgb(54, 217, 182);
    background: linear-gradient(90deg, rgba(54, 217, 182, 1) 0%, rgba(32, 152, 126, 1) 43%,
                                rgba(0, 212, 255, 1) 100%);
                       
}

#task-wrapper, #form-wrapper{
    max-width: 60%;
    margin: 0 auto;
    background-color: white;
}
  
.item{
display:flex;
border: 1px solid black;
background-color: white;
}

.item *{
margin: 10px;
/*   border: 1px solid black; */
}

.item p, form input{
width: 80%;
} 

input[type=text] {
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
}




